﻿@model Arrba.Domain.Models.AdVehicle

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>AdVehicle</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CountryID)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CountryID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Year)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Year)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Price)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Price)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MinimalPrice)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MinimalPrice)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NewModelName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NewModelName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.InstalmentSelling)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.InstalmentSelling)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CustomsCleared)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CustomsCleared)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HotSelling)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HotSelling)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ExchangePossible)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ExchangePossible)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Comment)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Comment)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ImgJson)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ImgJson)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FolderImgName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FolderImgName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MapJsonCoord)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MapJsonCoord)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ViewCount)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ViewCount)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ImgExists)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ImgExists)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AddDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AddDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DateExpired)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateExpired)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LastModified)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LastModified)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AdStatus)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AdStatus)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsAutoUpdatable)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsAutoUpdatable)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ModirationStatus)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ModirationStatus)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CommentRestriction)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CommentRestriction)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ModelVerification)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ModelVerification)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Condition)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Condition)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Categ)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Categ.ID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.City)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.City.ID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Currency)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Currency.ID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Type)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Type.ID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Brand)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Brand.ID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Dealership)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Dealership.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Model)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Model.ID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Region)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Region.ID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.User)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.User.Id)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
