﻿<ul class="nav flex-column list-group list-group-flush">
    <li class="nav-item list-group-item bg-transparent p-0">
        <a class="nav-link text-dark _active" asp-area="" asp-controller="Users" asp-action="Index">
            Пользователи
            <span class="sr-only">(current)</span>
        </a>
    </li>
    <li class="nav-item list-group-item bg-transparent p-0">
        <a class="nav-link text-dark _active" asp-area="" asp-controller="Dealerships" asp-action="Index">
            Дилеры
            <span class="sr-only">(current)</span>
        </a>
    </li>
    <li class="nav-item list-group-item bg-transparent p-0">
        <a class="nav-link text-dark _active" asp-area="" asp-controller="Categories" asp-action="Index">
            Категории
        </a>
    </li>
    <li class="nav-item list-group-item bg-transparent p-0">
        <a class="nav-link text-dark _active" asp-area="" asp-controller="ItemTypes" asp-action="Index">
            Типы
        </a>
    </li>
    <li class="nav-item list-group-item bg-transparent p-0">
        <a class="nav-link text-dark _active" asp-area="" asp-controller="Brands" asp-action="Index">
            Брэнды (марки)
        </a>
    </li>
    <li class="nav-item list-group-item bg-transparent p-0">
        <a class="nav-link text-dark _active" asp-area="" asp-controller="ItemModels" asp-action="Index">
            Модели
        </a>
    </li>
    <li class="nav-item list-group-item bg-transparent p-0">
        <a class="nav-link text-dark _active" asp-area="" asp-controller="Properties" asp-action="Index">
            Properties
        </a>
    </li>
    <li class="nav-item list-group-item bg-transparent p-0">
        <a class="nav-link text-dark _active" asp-area="" asp-controller="Cities" asp-action="Index">
            Cities
        </a>
    </li>
    <li class="nav-item list-group-item bg-transparent p-0">
        <a class="nav-link text-dark _active" asp-area="" asp-controller="CategBrands" asp-action="Index">
            Categories and Brands
        </a>
    </li>
    <li class="nav-item list-group-item bg-transparent p-0">
        <a class="nav-link text-dark _active" asp-area="" asp-controller="PropertyCategs" asp-action="Index">
            Property and item
        </a>
    </li>

    <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
        <span>Other</span>
        <a class="d-flex align-items-center text-muted" href="#">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-plus-circle"><circle cx="12" cy="12" r="10"></circle><line x1="12" y1="8" x2="12" y2="16"></line><line x1="8" y1="12" x2="16" y2="12"></line></svg>
        </a>
    </h6>
    <li class="nav-item list-group-item bg-transparent p-0">
        <a class="nav-link text-dark _active" asp-area="" asp-controller="AdVehicles" asp-action="Index">
            AdVehicles
        </a>
    </li>
    <li class="nav-item list-group-item bg-transparent p-0">
        <a class="nav-link text-dark _active" asp-area="" asp-controller="AdVehiclesForManager" asp-action="Index">
            AdVehicles for manager
        </a>
    </li>

</ul>
