﻿@model Arrba.Domain.Models.Category

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Category</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Alias)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Alias)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HideModelField)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HideModelField)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NameMultiLangSingularJson)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NameMultiLangSingularJson)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CategGroup)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CategGroup.ID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FileName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FileName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Status)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Status)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NameMultiLangJson)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NameMultiLangJson)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
