﻿@model IEnumerable<Arrba.Domain.Models.Category>

@{
    ViewData["Title"] = "Index";
}

<h1>Categories</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.ActionLink("Name", "Index", new { sortOrder = ViewBag.NameSortParm })
            </th>
            <th>
                @Html.ActionLink("Alias", "Index", new { sortOrder = ViewBag.AliasSortParm })
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CategGroup)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.FileName)
            </th>
            <th>
                @Html.ActionLink("Status", "Index", new { sortOrder = ViewBag.StatusSort })
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NameMultiLangSingularJson)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NameMultiLangJson)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Alias)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CategGroup.Name)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.FileName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Status)
                </td>
                <td>
                    @(item.NameMultiLangSingularJson != null ? "Yes" : "No")
                </td>
                <td>
                    @(item.NameMultiLangJson != null ? "Yes" : "No")
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.ID">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.ID">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.ID">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
