﻿@using Arrba.Domain.Models
@model Arrba.Domain.Models.Property

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Property</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ID" />
            <div class="form-group">
                <label asp-for="PropertyGroupID" class="control-label"></label>
                <select asp-for="PropertyGroupID" class="form-control" asp-items="ViewBag.PropertyGroupID"></select>
                <span asp-validation-for="PropertyGroupID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UnitMeasure" class="control-label"></label>
                <input asp-for="UnitMeasure" class="form-control" />
                <span asp-validation-for="UnitMeasure" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ControlType" class="control-label"></label>
                <select asp-for="ControlType" class="form-control" asp-items="Html.GetEnumSelectList<ControlTypeEnum>()"></select>
                <span asp-validation-for="ControlType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ActiveStatus" class="control-label"></label>
                <select asp-for="ActiveStatus" class="form-control" asp-items="Html.GetEnumSelectList<ActiveStatus>()"></select>
                <span asp-validation-for="ActiveStatus" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NameMultiLangJson" class="control-label"></label>
                <textarea asp-for="NameMultiLangJson" class="form-control"></textarea>
                <span asp-validation-for="NameMultiLangJson" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
