﻿@using Arrba.Domain.Models
@model Arrba.Domain.Models.PropertyCateg

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>PropertyCateg</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="PropertyID" class="control-label"></label>
                <select asp-for="PropertyID" class ="form-control" asp-items="ViewBag.PropertyID"></select>
            </div>
            <div class="form-group">
                <label asp-for="CategID" class="control-label"></label>
                <select asp-for="CategID" class ="form-control" asp-items="ViewBag.CategID"></select>
            </div>
            <div class="form-group">
                <label asp-for="AddToFilter" class="control-label"></label>
                <select asp-for="AddToFilter" class="form-control" asp-items="Html.GetEnumSelectList<AddToFilter>()"></select>
                <span asp-validation-for="AddToFilter" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AddToCard" class="control-label"></label>
                <select asp-for="AddToCard" class="form-control" asp-items="Html.GetEnumSelectList<AddToCard>()" ></select>
                <span asp-validation-for="AddToCard" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Priority" class="control-label"></label>
                <input asp-for="Priority" class="form-control" />
                <span asp-validation-for="Priority" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

