﻿@model Arrba.Domain.Models.PropertyCateg

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>PropertyCateg</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AddToFilter)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AddToFilter)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AddToCard)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AddToCard)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Priority)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Priority)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Property)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Property.ID)
        </dd class>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Categ)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Categ.ID)
        </dd class>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="PropertyID" />
        <input type="hidden" asp-for="CategID" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
