﻿@model Arrba.Domain.Models.PropertyCateg

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>PropertyCateg</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AddToFilter)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AddToFilter)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AddToCard)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AddToCard)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Priority)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Priority)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Property)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Property.ID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Categ)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Categ.ID)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    <a asp-action="Index">Back to List</a>
</div>
