﻿@model Arrba.Domain.Models.PropertyCateg

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>PropertyCateg</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="PropertyID" />
            <input type="hidden" asp-for="CategID" />
            <div class="form-group">
                <label asp-for="AddToFilter" class="control-label"></label>
                <select asp-for="AddToFilter" class="form-control"></select>
                <span asp-validation-for="AddToFilter" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AddToCard" class="control-label"></label>
                <select asp-for="AddToCard" class="form-control"></select>
                <span asp-validation-for="AddToCard" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Priority" class="control-label"></label>
                <input asp-for="Priority" class="form-control" />
                <span asp-validation-for="Priority" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

